<h1><%= @movie.title %></h1>
<p><%= @movie.blurb %></p>
<p>Released on: <%= @movie.date_released %></p>
<p>Country of Origin: <%= @movie.country_of_origin %></p>
<p>Showing from: <%= @movie.showing_start %> to <%= @movie.showing_end %></p>